/* Style for login page [product_page.html]: */

/* Outdated practice version made while building
first project ever. This version has no scaling or
responsive design whatsoever. Everything is rewritten
in style.css.*/

/* Title edits: */
.product-page-title {

    /* Login title edits: */
    margin: 60px;
    margin-bottom: 70px;
    padding: 20px;
    padding-bottom: 5px;

    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}
/* ---------------------------------------- */

/* Aside -> Filters part: */
.as-filter {

    /* Side filter field: */
    display: inline-block;

    border: 2px solid #d5ab44;
    border-radius: 15px 0px 0px 0px;
    background-color: #FAF6E5;

    width: 15%;
    height: 400px;
    margin-left: 50px;
    padding: 10px;

    overflow-y: scroll;
}
.as-filter-title {

    /* Filter field title: */
    margin: 10px;
    margin-left: 20px;
}
#min-input {

    /* Slider settings */
    width: 60px;
}
#max-input {

    /* Slider settings */
    width: 60px;
}
/* ------------------------------- */

/* Overtxt: */
.overtxt-one {

    display: inline-block;
    width: 20%;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}
.overtxt-two {
    
    display: block;
    width: 20%;
    float: right;
    color: rgba(0, 0, 0, 0.7);
    text-align: right;
}
.overtxt-two select {

    margin-left: 10px;
    color: #d5ab44;
    background-color: #FAF6E5;
    border: 1px solid transparent;
    border-radius: 5px;

    width: 120px;
}
.overtxt-two select:hover {

    transform: scale(1.1);
    border-color: #d5ab44;
}
/* ------------------------------- */

/* Products edits: */
.products {

    display: inline-block;
    vertical-align: top;
    
    margin-left: 50px;
    /* margin-bottom: 10px; */
    
    /* border: 1px solid black; */
    /* background-color: blanchedalmond; */

    width: 75%;
}
.product-div {
    
    display: inline-block;
    
    background-color: #FAF6E5;
    border-radius: 0px 0px 15px 0px;
    
    width: 30%;
    height: 30%;
    box-shadow: 1px 10px 20px #8b7231;
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 20px;

    padding: 10px;
}
.product-div:hover {

    transform: scale(1.05);
}
.product-div img {

    display: block;
    margin: auto;
    width: 60%;
    
}
.product-name {

    font-size: 18px;
    margin-top: 15px;
}
.product-name p {

    margin: 0px;
}
.product-price {

    font-size: 25px;
    font-weight: 800;
    
    text-shadow: 2px 4px 10px grey;
}

/* ---------------------------------------- */

/* Page selection buttons: */
.page-selection {

    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;
}   
.page-selection button {

    font-size: 17px;
    text-align: center;
    color: #d5ab44;
    border: 1px solid #d5ab44;
    background-color: #FAF6E5;

    margin-left: 20px;

}
.page-selection button:hover {

    color: #FAF6E5;
    border: 1px solid #FAF6E5;
    background-color: #d5ab44;
    
    transform: scale(1.3);
}
/* ---------------------------------------- */

/* Newsletter styling: */
.newsletter {

    margin-bottom: -1px;
    background-color: #8b7231;;
    vertical-align: middle;
}
.nl-text {

    display: inline-block;
    vertical-align: middle;

    font-size: 25px;
    color: #FAF6E5;

    width: 35%;
    margin-left: 250px;
    margin-top: 26px;

    padding: 0%;
}
.nl-buttons {

    display: inline-block;
    vertical-align: middle;

    margin-right: 250px;
}
.nl-buttons input {

    width: 610px;
    height: 40px;

    margin-bottom: 2px;

    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid transparent;
}
.nl-buttons button {

    width: 610px;
    height: 40px;

    font-size: 17px;
    text-align: center;
    color: #d5ab44;
    background-color: #FAF6E5;
    border: 1.8px solid #d5ab44;
    border-radius: 5px;
}
.nl-buttons button:hover {

    color: #FAF6E5;
    background-color: #d5ab44;
    border: 1.8px solid #FAF6E5;
}
/* ---------------------------------------- */